<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">post name:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if postData.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each postData as |post| }}
<div class="row mb-4 post ">
  <div class="">
    <div class="smokem"data-index-number="{{post.id}}">
  <div>
  <h2><p>{{post.name}} on {{format_date post.date_created}}</p> </h2>
  </div>
  <p>
    {{post.description}}
  </p>
</div>
  </div>
</div>
{{/each}}

  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
